.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
}

.content{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

.out_content{
    font-size: 18px;
    line-height: 1.5;
}

.modal_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal_content button{
    width: 200px; 
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: black;
    
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
}

.tab_content{
    display: none;
}